.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: fixed;
  bottom: 3%;
  background-color: #343a40;
  border-radius: 5px;
  padding: 25px 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  padding-bottom: 50px;
}

.inputGroup {
  display: flex;
  align-items: center;
  border-radius: 3rem;
  padding: 0.5rem 0rem;
  width: 100%;
  background-color: #495057;
}



@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px 10px;
  }

  .inputGroup {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }

  .micIcon {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 15px 5px;
  }

  .inputGroup {
    font-size: 0.8rem;
    margin: 0 0.25rem;
  }

  .micIcon {
    width: 25px;
    height: 25px;
    margin: 0 0.25rem;
  }
}